@import url(https://fonts.googleapis.com/css?family=Roboto);


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #171a26;
    color: #d9e1ff;

    /*#171a26
    #383c4c
    #5d6175
    #848aa1
    #aeb4cf
    #d9e1ff


    #171a26
#332945
#5d345c
#8e3c67
#bd4663
e35a53
#fa7c39
#ffa600 */
}

#main {
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Make profile image responsive */
#main img {
    max-width: 100%;
    height: auto;
}
ul.menu {
	list-style-type: none;
	margin: 35px 0;
	padding: 0;
	margin-bottom: 600px;
	background-color: #171a26;
}

.menu {
	text-align: center;
	background-color: #171a26;
	padding: 20px 0;
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.menu.ready {
	opacity: 1;
}
#icon-menu {
   text-align: center;
}
#icon-menu svg {
   padding: 8px;
   
}

.anchor {
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden;
}


.menu ul {
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.menu a:link, .menu a:visited {
	text-decoration: none;
}

.menu ul li:not(:first-child):before {
	content: '|';
	margin-left: 10px;
	margin-right: 12px;
}	

.section {
	margin-top: 500px;
}

.nav-home {
	text-decoration: none;
	font-size: 0.7em;
	font-weight: bold;
}



.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
        -webkit-box-shadow: 0px 10px 12px -14px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 12px -14px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 12px -14px rgba(0,0,0,0.75);	
}

.content {
}

.sticky + .content {
	padding-top: 59px;
}

a:link {
  color: #bd4663;
}

a:visited {
  color: #bd4663;
}

em {
	color: #bed3ff;
}

h1 {
  font-size: 3em;
  margin: 10px 0px;
}

footer {
    margin-top: 550px;
    margin-bottom: 50px;
    color: #fa7c39;
    text-align: center;
}

h2 {
    color: #fa7c39;
    margin: 0;
}

#tagline {
    min-height: 1.5em;
}

.job {
	margin-bottom: 25px;
}

.job h3 {
	font-size: 1em;
	margin: 0;
}

.job h2 {
	color: #e35a53;
	font-weight: normal;
	font-size: 0.9em;
}

.job  span.title {
	color: #bd4663;
}
/* Tablet styles */
@media screen and (max-width: 768px) {
    .section {
        margin-top: 300px;
    }

    footer {
        margin-top: 300px;
    }

    ul.menu {
        margin-bottom: 300px;
    }

    h1 {
        font-size: 2.5em;
    }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
    #main {
        width: 95%;
        padding: 0 10px;
    }

    /* Reduce header spacing */
    #main > div:first-child {
        margin-top: 40px !important;
    }

    /* Smaller profile image on mobile */
    #main img[src*="pb.png"] {
        width: 150px;
    }

    /* Reduce section spacing significantly */
    .section {
        margin-top: 150px;
    }

    /* Reduce menu bottom margin */
    ul.menu {
        margin-bottom: 150px;
        margin-top: 20px;
    }

    /* Make menu items stack or wrap nicely */
    .menu ul li {
        display: inline-block;
        margin: 5px 0;
    }

    .menu ul li:not(:first-child):before {
        margin-left: 6px;
        margin-right: 8px;
    }

    /* Increase touch target size for links */
    .menu a {
        padding: 10px 5px;
        display: inline-block;
    }

    /* Reduce typography sizes */
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    /* Reduce footer margin */
    footer {
        margin-top: 150px;
        margin-bottom: 30px;
    }

    /* Anchor offset adjustment for smaller screens */
    .anchor {
        top: -60px;
    }

    /* Sticky menu padding adjustment */
    .sticky + .content {
        padding-top: 50px;
    }

    /* Job section adjustments */
    .job {
        margin-bottom: 20px;
    }

    .job ul {
        padding-left: 20px;
    }

    /* Icon menu adjustments */
    #icon-menu svg {
        width: 35px;
        padding: 10px;
    }
}

/* Small mobile styles */
@media screen and (max-width: 360px) {
    h1 {
        font-size: 1.75em;
    }

    .section {
        margin-top: 100px;
    }

    ul.menu {
        margin-bottom: 100px;
    }

    footer {
        margin-top: 100px;
    }

    #main img[src*="pb.png"] {
        width: 120px;
    }
}

