@import url(https://fonts.googleapis.com/css?family=Roboto);

/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
    background-color: #171a26;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #0f1119;
    color: #d9e1ff;
}

a:link,
a:visited {
    color: #e35a53;
}

a:focus,
button:focus {
    outline: 2px solid #fa7c39;
    outline-offset: 2px;
}

em {
    color: #bed3ff;
}

h1 {
    font-size: 3em;
    margin: 10px 0;
}

h2 {
    color: #fa7c39;
    margin: 0;
}

/* ==========================================================================
   Layout
   ========================================================================== */

#main {
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
    padding: 1px 15px 100px;
    box-sizing: border-box;
    background-color: #171a26;
    box-shadow: 0 0 0 100vmax #171a26;
    clip-path: inset(0 -100vmax);
}

#main img {
    max-width: 100%;
    height: auto;
}

#tagline {
    min-height: 1.5em;
}

.section {
    margin-top: 50px;
}

.content {
    /* padding-top is set dynamically by JavaScript when menu becomes sticky */
}

/* ==========================================================================
   Accessibility
   ========================================================================== */

.skip-link,
.skip-link:link,
.skip-link:visited,
.skip-link:focus {
    position: absolute;
    left: -9999px;
    z-index: 100;
    color: #e35a53;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

.skip-link:focus {
    left: 0;
    top: 0;
}

.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

/* ==========================================================================
   Navigation Menu
   ========================================================================== */

ul.menu {
    list-style-type: none;
    margin: 35px 0;
    padding: 0;
    background-color: #171a26;
}

.menu {
    text-align: center;
    background-color: #171a26;
    padding: 20px 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.menu.ready {
    opacity: 1;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.menu ul li:not(:first-child):before {
    content: '|';
    margin-left: 10px;
    margin-right: 12px;
}

.menu a:link,
.menu a:visited {
    text-decoration: none;
}

.nav-home {
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: env(safe-area-inset-top, 0);
    left: 0;
    width: 100%;
    box-shadow: 0 10px 12px -14px rgba(0, 0, 0, 0.75);
}

.sticky::before {
    content: '';
    position: absolute;
    top: calc(-1 * env(safe-area-inset-top, 0));
    left: 0;
    right: 0;
    height: env(safe-area-inset-top, 0);
    background-color: #171a26;
}

/* ==========================================================================
   Icon Menu
   ========================================================================== */

#icon-menu {
    text-align: center;
}

#icon-menu a {
    display: inline-block;
}

#icon-menu svg {
    padding: 8px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    margin-top: 50px;
    background-color: #0f1119;
    color: #848aa1;
    text-align: center;
    padding: 60px 20px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    position: relative;
}

footer a {
    display: inline-block;
}

/* ==========================================================================
   Jobs / Projects
   ========================================================================== */

.job {
    margin-bottom: 25px;
}

.job h3 {
    font-size: 1em;
    margin: 0;
}

.job h2 {
    color: #e35a53;
    font-weight: normal;
    font-size: 0.9em;
}

.job span.title {
    color: #aeb4cf;
}

/* ==========================================================================
   Responsive Styles
   ========================================================================== */

/* Tablet */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    #main {
        width: 95%;
        padding: 0 10px;
    }

    #main > div:first-child {
        margin-top: 40px !important;
    }

    #main img[src*="pb.png"] {
        width: 150px;
    }

    .menu ul li {
        display: inline-block;
        margin: 5px 0;
    }

    .menu ul li:not(:first-child):before {
        margin-left: 6px;
        margin-right: 8px;
    }

    .menu a {
        padding: 10px 5px;
        display: inline-block;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    .anchor {
        top: -60px;
    }

    .job {
        margin-bottom: 20px;
    }

    .job ul {
        padding-left: 20px;
    }

    #icon-menu svg {
        width: 35px;
        padding: 10px;
    }
}

/* Small Mobile */
@media screen and (max-width: 360px) {
    h1 {
        font-size: 1.75em;
    }

    #main img[src*="pb.png"] {
        width: 120px;
    }
}
